<h1>{Astro.props.title}</h1>

<style>
  h1 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid white;
    padding: 7px;
    text-transform: uppercase;
  }
</style>
